# Local defaults (dev server)
# VITE_API_URL=http://127.0.0.1:4303
# VITE_WS_URL=ws://127.0.0.1:4302

# Production (Vercel)
VITE_API_URL=https://game.termv.ursamu.io
VITE_WS_URL=wss://game.termv.ursamu.io/ws
